!!!
html
  head
    title Cluster.IO
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//raw.github.com/joewalnes/smoothie/master/smoothie.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/app.js')
  body!= body
